<div class="input-group">
  <div class="custom-file">
    <%= form_for [@event, photo], html: { multipart: true } do |f| %>
      <%= render partial: 'partials/form_errors', locals: {model: photo} %>
      <%= f.label :photo, class: 'custom-file-label' %>
      <%= f.file_field :photo, class: 'custom-file-input' %>
    <div class="input-group-append">
      <%= f.submit 'Загрузить', class: 'btn btn-outline-secondary' %>
    </div>
    <% end %>
  </div>
</div>
